/*
 *	 Architect Website
 */

.architect-section {}

.architect-section .photograph {
	position: relative;
	z-index: 1;
	text-align: center;
}

.architect-section .architect-content {
	position: relative;
	z-index: 2;
	margin-top: 20px;
}

.architect-section .architect-content .heading {
	margin-top: 10px;
}

.architect-section .architect-content .description {
	margin-top: 20px;
}


.architect-section .architect-content .team-title {
	margin-top: 30px;
}

.architect-section .architect-content .team-heading {
	margin-top: 10px;
}

.architect-section .architect-content a.team-heading {
	display: inline-block;
	border-bottom: 2px solid var(--neutral);
}


 
@media( min-width: 640px )  { }

@media( min-width: 1040px ) { }

@media( min-width: 1380px ) {  }

