/*
 *	Basement Experience Section
 */

.basement-experience-section {
	position: relative;
	z-index: 2;
}

.basement-experience-section .basement-experience-content {
	position: relative;
	z-index: 3;
	padding-bottom: 20px;
}


.basement-experience-section .basement-experience-content .title {
	margin-top: 40px;
}

.basement-experience-section .basement-experience-content .heading {
	margin-top: 10px;
}


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.basement-experience-section .basement-experience-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	.basement-experience-section .basement-experience-content .title {
		margin-top: 0px;
	}
}
@media( min-width: 1380px ) {}