/*
 *	Basement Masterplan Section
 */

.basement-masterplan-section .basement-masterplan-content {
	margin-top: 40px;
}

.basement-masterplan-section .basement-masterplan-content .title {}
.basement-masterplan-section .basement-masterplan-content .heading {
	margin-top: 10px;
}

.basement-masterplan-section .basement-masterplan-content .description {
	margin-top: 20px;
}

.basement-masterplan-section .blip-system  .slick-blip.slick-slider {
	margin-top: -100px;
}

@media( min-width: 640px )  {
	.basement-masterplan-section .blip-system  .slick-blip.slick-slider {
		margin-top: -160px;
	}
}

@media( min-width: 1040px ) {
	.basement-masterplan-section .blip-system  .slick-blip.slick-slider {
		margin-top: -210px;
	}
}
@media( min-width: 1380px ) {
	.basement-masterplan-section .blip-system .slick-blip.slick-slider {
		margin-top: -280px;
	}
}