/*
 *	Location Section
 */


.location-section .location-content .title {
	margin-top: 40px;
}

.location-section .location-content .heading {
	margin-top: 10px;
}

.location-section .location-content .description {
	margin-top: 20px;
}

.location-section .maps {
	margin-top: 40px;
	padding: 150px 0 50px 0;
	text-align: center;
	border-radius: 10px;
	background: url('/media/maps-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid var(--off-neutral);
	box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.location-section .appreciation {
	margin-top: 40px;
	padding: 10px 8.33333% 20px 8.33333%;
	position: relative;
	z-index: 1;
	text-align: center;
	border-top: 2px solid var(--off-copper);
	border-bottom: 2px solid var(--off-copper);
}

.location-section .appreciation .title {
	position: relative;
	z-index: 2;
	display: inline-block;
	background-color: var(--light);
	padding: 0 10px;

	transform: translateY(-22px);
}

.location-section .location-list {
	margin-top: 40px;
}

@media( min-width: 640px )  {
	.location-section .location-content {
		position: relative;
		z-index: 1;
		padding-left: 4.1666%;
	}

	.location-section .location-content:before,
	.location-section .location-content:after {
		position: absolute;
		content: '';
		z-index: 2;
	}

	.location-section .location-content:before {
		top: 95px;
		left: 0;

		width: 25px;
		height: 3px;

		background-color: var(--copper);

		transform: translateX(0%) translateY(-50%);
	}

	.location-section .location-content:after {
		top: 95px;
		left: -1px;

		width: 20px;
		height: 20px;

		border-radius: 50%;
		border: 3px solid var(--copper);

		transform: translateX(-50%) translateY(-50%);
	}

	.location-section .location-content .title {
		margin-top: 0;
	}

	.location-section .beacon-container {
		position: relative;
		z-index: 1;
		overflow: hidden;
		height: 300px;
	}

	.location-section .beacon {
		position: absolute;
		top: 90px;
		right: -3px;

		width: 10px;
		height: 10px;

		border-radius: 50%;
		/*border: 1px solid var(--copper);*/

		transform: translateX(-50%) translateY(-50%);

		animation: pulse 3s linear infinite;
		transform: scale(2.25);
	}

	@keyframes pulse {
		from {
			box-shadow:
				0 0 15px 0px var(--light),
				0 0 0 1px rgba( 150, 105, 76, 1 ),
				0 0 15px 39px var(--light),
				0 0 0 40px rgba( 150, 105, 76, 0.75 ),
				0 0 15px 79px var(--light),
				0 0 0 80px rgba( 150, 105, 76, 0.5 );
		} to {
			box-shadow:
				0 0 15px 39px var(--light),
				0 0 0 40px rgba( 150, 105, 76, 0.75 ),
				0 0 15px 79px var(--light),
				0 0 0 80px rgba( 150, 105, 76, 0.5 ),
				0 0 15px 129px var(--light),
				0 0 0 130px rgba( 150, 105, 76, 0 );
		}
	}
}

@media( min-width: 1040px ) {
	.location-section .location-content {
		padding-left: 0;
	}

	.location-section .location-content:before {
		top: 95px;
		left: -87px;

		width: 70px;
		height: 3px;

	}

	.location-section .location-content:after {
		top: 95px;
		left: -86px;

		width: 30px;
		height: 30px;
	}

	.location-section .beacon-container {
		height: 500px;
	}

	.location-section .beacon {
		transform: scale(3);
	}

	.location-section .appreciation {
		padding: 20px 4.1666% 40px 4.1666%;
	}

	.location-section .appreciation .title {
		transform: translateY(-32px);
	}
}

@media( min-width: 1380px ) {
	.location-section .location-content:before {
		left: -114px;
		width: 100px;
	}

	.location-section .location-content:after {
		left: -113px;
	}
}




/*
 * 
 * Tab system
 * 
 */
.location-section .location-list .tab {
	position: relative;
	margin: 1rem 0 0.5rem;
}

@media ( min-width: 640px ) {
	.location-section .location-list .tabs {
		position: relative;
		min-height: 120px;
	}

	.location-section .location-list .tab {
		margin: 0;
	}
}

@media ( min-width: 1040px ) {
	.location-section .location-list .tabs {
		min-height: 130px;
	}
}

@media ( min-width: 1380px ) {
	.location-section .location-list .tabs {
		min-height: 140px;
	}
}




/*
 *
 *	Tab headings (for SMALL viewports)
 *
 */
.location-section .location-list .tab .heading {
	position: relative;
	display: block;
	border-bottom: 1px solid var(--off-copper);
	overflow: hidden;
}

.location-section .location-list .tab .heading:before,
.location-section .location-list .tab .heading:after {
	content: '';
	display: block;
	height: 3px;
	width: 18px;
	background-color: var(--off-copper);
	position: absolute;
	top: 15px;
	right: 0px;

	-moz-transition: transform .25s ease-out;
	-webkit-transition: transform .25s ease-out;
	transition: transform .25s ease-out;
}

.location-section .location-list .tab .heading:before {
	-moz-transform: translate(-50%, -50%) rotate(180deg);
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
}

.location-section .location-list .tab .heading:after {
	-moz-transform: translate(-50%, -50%) rotate(90deg);
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.location-section .location-list .tab.selected .heading:before {
	-moz-transform: translate(-50%, -50%) rotate(360deg);
	-webkit-transform: translate(-50%, -50%) rotate(360deg);
	transform: translate(-50%, -50%) rotate(360deg);
}

.location-section .location-list .tab.selected .heading:after {
	-moz-transform: translate(-50%, -50%) rotate(180deg);
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
}

.location-section .location-list .tab .heading span {
	position: relative;
	display: block;
	margin: 0 auto;
	border-bottom: 3px solid transparent;
	padding: 0.5rem 0 0.5rem 0.3rem;
	color: var(--off-copper);
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: 0.5s opacity ease-in-out;
	transition: 0.5s opacity ease-in-out;
}
.location-section .location-list .tab .heading span:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: -100%;
	width: 100%;
	border-bottom: 3px solid var(--off-copper);
	-webkit-transition: 0.5s left ease-in-out;
	transition: 0.5s left ease-in-out;
}
.location-section .location-list .tab.selected .heading span {
	opacity: 1;
	-webkit-transition: 0.5s opacity ease-in-out 0.65s;
	transition: 0.5s opacity ease-in-out 0.65s;
}
.location-section .location-list .tab.selected .heading span:after {
	left: 0;
	-webkit-transition: 0.5s left ease-in-out 0.65s;
	transition: 0.5s left ease-in-out 0.65s;
}

@media ( min-width: 640px ) {

	.location-section .location-list .tab .heading {
		display: none;
	}

}




/*
 *
 *	Tab headings (for LARGE viewports)
 *
 */
.location-section .location-list .location-list-headings {
	position: relative;
}
.location-section .location-list .headings {
	margin: 0 0 2rem;
	width: 100%;
	border-bottom: 1px solid var(--off-copper);
}
/* Justify-ing the tab headings */
/* -- Approach #1 – text-align: justify; -- */
	/* This :after element ensures that the tab headers are justified */
	/* The negative margin is to undo the offset created by the :after element */
.location-section .location-list .headings {
	height: 4rem;
	text-align: justify;
}
.location-section .location-list .headings:after {
	content: "";
	display: inline-block;
	width: 100%;
}
.location-section .location-list .headings .heading {
	display: inline-block;
	margin: 0 0 -10px;
	border-bottom: 3px solid transparent;
}
/* -- Approach #2 – display: table-cell; -- */
/*.location-section .location-list .headings {
	display: table;
}
.location-section .location-list .headings .heading {
	display: table-cell;
	width: 25%;
	text-align: center;
}
.location-section .location-list .headings .heading:first-child {
	text-align: left;
}
.location-section .location-list .headings .heading:last-child {
	text-align: right;
}*/



.location-section .location-list .headings .heading span {
	display: inline-block;
	border-bottom: 3px solid transparent;
	padding: 0.5rem 0.5rem 0.3rem;
	color: var(--off-copper);
	opacity: 0.5;
	cursor: pointer;
}

.location-section .location-list .headings .heading.selected span {
	opacity: 1;
}

.location-section .location-list .heading-underline { display: none; }

@media ( max-width: 640px ) {
	.location-section .location-list .headings {
		height: 0;
		display: none;
	}
}

@media ( min-width: 640px ) {
	.location-section .location-list .heading-underline {
		height: 3px;
		position: absolute;
		display: block;
		bottom: 1px;
		left: 0;
		width: 91px;
		background-color: var(--off-copper);
		/*transition: 0.4s left ease-in-out, 0.2s width ease-in-out 0.2s;*/
		-webkit-transition: 0.4s .2s left ease-out, 0.2s .4s width ease-out;
		transition: 0.4s .2s left ease-out, 0.2s .4s width ease-out;
	}
}

@media ( min-width: 1380px ) {
	.location-section .location-list .heading-underline {
		height: 4px;
		width: 95px;
	}
}


/*
 *
 *	Tab headings
 *
 */
.location-section .location-list .heading {
	outline: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	touch-action: none;
	user-select: none;
}



/*
 *
 *	Tab content
 *
 */
.location-section .location-list .tab-content-wrapper {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.65s max-height ease-in-out;
	transition: 0.65s max-height ease-in-out;
}
.location-section .location-list .tab.selected .tab-content-wrapper {
	max-height: 500px;
	-webkit-transition: 1s max-height ease-in 0.65s;
	transition: 1s max-height ease-in 0.65s;
}
.location-section .location-list .tab .tab-content {
	padding: 1rem 0 0 0.3rem;
	color: var(--off-copper);
	line-height: 1.7;
}
.location-section .location-list .tab .tab-content .point {
	margin: 0 0 0.5rem;
}
.location-section .location-list .tab .tab-content .distance {
	margin: 0.3rem 0 0;
}

@media ( min-width: 640px ) {

	.location-section .location-list .tab-content-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		max-height: none;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.4s visibility ease-in, 0.4s opacity ease-in;
		transition: 0.4s visibility ease-in, 0.4s opacity ease-in;
	}
	.location-section .location-list .tab.selected .tab-content-wrapper {
		max-height: none;
		visibility: visible;
		opacity: 1;
		-webkit-transition: 0.6s visibility ease-in 0.4s, 0.6s opacity ease-in 0.4s;
		transition: 0.6s visibility ease-in 0.4s, 0.6s opacity ease-in 0.4s;
	}
	.location-section .location-list .tab .tab-content .distance {
		margin: 0.5rem 0 0;
	}

}
