/*
 *	Podium Experience Section
 */

.podium-experience-section {
	position: relative;
	z-index: 2;
}

.podium-experience-section .podium-experience-content {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1380px ) {}