/*
 *	Villa Section
 */

.villa-section {
	position: relative;
	overflow: hidden;
}

.villa-section .container {
	position: relative;
	z-index: 2;
	overflow: hidden; 
	border-top-left-radius: 26px; 
	border-top-right-radius: 26px;
}

.villa-section .villa-content {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;

	border-top-left-radius: 26px;
	border-top-right-radius: 26px;
}

.villa-section .villa-content .heading {
	margin-top: 10px;
}

.villa-section .villa-content .description {
	margin-top: 20px;
}


.villa-section .bg-fix {
	position: absolute;
	top: 100%;
	width: 4000px;
	left: 50%;
	display: block;
	height: 1000px;
	z-index: 1;
	/*background: peachpuff;*/
	transform: translateX(-50%) translateY(-93px) rotate(-16.6deg);
}

@media( min-width: 640px )  {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-207px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 0;
	}
}

@media( min-width: 1040px ) {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-406px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 27px;
	}
}
	
@media( min-width: 1380px ) {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-550px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 40px;
		line-height: 2;
	}
}