/*
 *	Villa Section
 */

.villa-section {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.villa-section > .container {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.villa-section .villa-content {
	position: relative;
	z-index: 2;

	border-top-left-radius: 26px;
	border-top-right-radius: 26px;

	background-image: url('/media/cross-section-3d-bg.png');
}

.villa-section .villa-content .heading {
	margin-top: 10px;
}

.villa-section .villa-content .description {
	margin-top: 20px;
}

.villa-section .villa-image {
	margin-top: -2px;
	position: relative;
	z-index: 1;
}

.villa-section .villa-image .blip-system .blip-image {
	position: relative;
	z-index: 1;
}

.villa-section .villa-image .blip-system .container {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 100%;
}

.villa-section .bg-fix {
	position: absolute;
	top: 100%;
	width: 4000px;
	left: 50%;
	display: block;
	height: 1000px;
	z-index: 1;
	background-image: url('/media/isometric/top-bg.jpg');
	transform: translateX(-50%) translateY(-93px) rotate(-16.6deg);
}

@media( min-width: 640px )  {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-207px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 0;
	}
}

@media( min-width: 1040px ) {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-406px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 27px;
	}
}
	
@media( min-width: 1380px ) {
	.villa-section .bg-fix {
		transform: translateX(-50%) translateY(-550px) rotate(-16.6deg);
	}

	.villa-section .villa-content .description {
		margin-top: 40px;
		line-height: 2;
	}
}